{% extends "catholic_base.html" %}
{% block introduction %}{% endblock introduction %}
{% block title %}{{ book.name|title }}{% endblock title %}

{% block content_content %}

<div class='container siteuser-index-heading'>
    <div class='row'>
        <h3 class='float-left'>The book of {{ book.name|title }}</h3>
    </div>
</div>

<div class="container">
    <div class="row">
        {% for chapter in book_chapter_list %}
            <div class="col-lg-3 col-md-4 col-xs-6 col-sm-6 py-2 my-2 verse-box">
                <p>
                    <a href="{% url 'douay-rheims:chapter_detail' chapter.book.slug chapter.number chapter.pk %}">{{ chapter|title }}</a>
                </p>
                <p>{{ chapter.chapter_verse_count }} verses</p>
            </div>
        {% empty %}
            <p>No books added yet.</p>
        {% endfor %}
    </div>
</div>
{% endblock content_content %}
