{% extends "catholic_base.html" %}
{% block title %}Challoner commentary{% endblock title %}
{% block introduction %}{% endblock introduction %}


{% block breadcrumb %}
    <li class="breadcrumb-item active" aria-current="page">Challoner commentary</li>
{% endblock breadcrumb %}

{% block  content_content %}

<div class='container siteuser-index-heading'>
    <div class='row'>
        <h3 class='float-left'>Challoner commentary</h3>
    </div>
</div>
    
<div class="container">
    <div class="row">
        {% for commentary in commentaries %}
            <div class="col-sm-12 single-commentary-entry">
                <h4 class="text-success">{{ commentary.commentary_source.title }}</h4>
                <h6>{{ commentary.heading }}</h6>
                <p>{{ commentary.text }}</p>
            </div>
    
            {% empty %}
                <p style="margin-bottom:25rem">Coming soon</p>                
            {% endfor %}
    </div>
</div>
{% endblock content_content %}
