{% extends "catholic_base.html" %}
{% block title %}{{ chapter.book|title }} {{ chapter.number }}{% endblock title %}
{% load bible_ttags %}
{% block introduction %}{% endblock introduction %}

{% block  content_content %}

<div class='container siteuser-index-heading'>
    <div class='row'>
        <h3 class='float-left'>{{ chapter.book|title }} {{ chapter.number }}</h3>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-sm-12">
            {% for verse in chapter.verse_set.all %}
                <p class="verse-text"><strong>{{ verse.number }}:</strong> {{ verse.text|markdown_format }}</p>
            {% endfor %}
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-sm-12">
            <p><a href="">Next</a></p>
        </div>
    </div>
</div>

{% endblock content_content %}
