{% extends "catholic_base.html" %}
{% block title %}List of all commentaries{% endblock title %}
{% block introduction %}{% endblock introduction %}
{% block  content_content %}

<div class='container siteuser-index-heading'>
    <div class='row'>
        <h3 class='float-left'>Commentaries</h3>
    </div>
</div>
    
<div class="container">
    <div class="row">
        <div class="col-sm-12">
            {% for commentary in commentaries %}
                <h4>{{ commentary.heading }}</h4>
                <h6>{{ commentary.commentary_source }}</h6>
                <p>{{ commentary.text }}</p>
    
            {% empty %}
                <p style="margin-bottom:25rem">Coming soon</p>                
            {% endfor %}
        </div>
    </div>
</div>
{% endblock content_content %}
