{% extends "ethordoxy_base.html" %}
{% block title %}Douay-Rheims bible{% endblock title %}
{% block introduction %}{% endblock introduction %}
{% load drb_ttags_and_filters %}

{% block breadcrumb %}
    <li class="breadcrumb-item active" aria-current="page">Douay-Rheims bible</li>
{% endblock breadcrumb %}

{% block  content_content %}

<div class="container" id="vue-instance">
    <div class="row" id="show-current-location">
        <h6 class='float-left'>${ site_name }$${ pointer }$${ bible_version }$${ pointer }$${ book_name }$${ pointer }$${ chapter_number }$</h6>
    </div>

    <div class="row">
        <div class="col-sm-2 book-listing">

            {% for book in books %}

                <div id="accordion">
                    <div class="book-names" id="{{ book.name }}{{ forloop.counter }}">
                        <button class="btn btn-md btn-primary disabled text-left book-name-buttons" data-toggle="collapse" data-target="#Collapse{{ forloop.counter }}" aria-expanded="true" aria-controls="collapse{{ forloop.counter }}">
                            {{ book.name.title }}
                        </button>
                    </div>

                        <div id="Collapse{{ forloop.counter }}" class="collapse" aria-labelledby="{{ book.name }}{{ forloop.counter }}" data-parent="#accordion">
                            {% for chapter in book.chapter_set.all %}
                                <p class="chapter-number-paragraph"><button class="btn btn-sm btn-secondary disabled text-left chapter-buttons" v-on:click="getVerses({{ chapter.pk }}, '{{ chapter.book.name.title }}', {{ chapter.number }})">{{ chapter }}</button></p>
                            {% endfor %}
                        </div>
                </div>
            {% endfor %}
        </div>
        <div class="col-sm-10 pr-0" id="book-text" style="width:100%">
            <h2 id="intro">Click the buttons to the left to open a chapter</h2>
            <p class="show-verse-text" v-for="(text, index) in bible_text"><strong>${ index }$:</strong> ${ text }$</p>
        </div>
        
    </div>
</div>

{% endblock content_content %}


{% block page_js %}

<script>
    new Vue({
        el: '#vue-instance',
        delimiters: ['${', '}$'],
        data : {
            chapter: '',
            books: [],
            bible_text: "",
            book_name: "",
            chapter_number: "",
            bible_version: "",
            site_name: "",
            pointer: '',
        },
        mounted : function() {
        },
        methods: {
            getVerses:function (pk, book_name, chapter_number) {
                // remove shown text if it exists
                var elem = document.getElementById("intro");
                if (elem) {
                    elem.remove();
                }

                //get data
                this.$http.get("/douay-rheims/chapter/" + pk)
                    .then((response) => {
                        console.log(response.data)
                        this.bible_text = response.data
                    });
                $('#show-current-location').addClass('top-heading')
                
                this.bible_version = "Douay-Rheims bible",
                this.pointer = ' >> '
                this.book_name = book_name;
                this.chapter_number = chapter_number
                this.site_name = 'Ethordoxy'

                //scroll to top of page
                document.body.scrollTop = document.documentElement.scrollTop = 0;
            },
        },
    })

</script>
{% endblock page_js %}
