{% extends "drb_base.html" %}
{% block title %}Douay-Rheims bible{% endblock title %}
{% block introduction %}{% endblock introduction %}
{% block  content_content %}

<div class='container siteuser-index-heading'>
    <div class='row'>
        <h3 class='float-left'>Douay-Rheims bible</h3>
    </div>
</div>

<div class="container">
    <div class="row">
        {% for book in book_list %}
            <div class="col-lg-3 col-md-4 col-xs-6 col-sm-6 py-2 my-2 siteuser-index-details">
                <p><a href="{% url 'douay-rheims:book_detail' book.slug book.pk %}">{{ book.name|title }}
                {% if book.alt_name %} ({{ book.alt_name|title }}){% endif %}</a></p>
            </div>
        {% empty %}
            <p style="margin-bottom:25rem">Coming soon</p>
        {% endfor %}
    </div>
</div>
{% endblock content_content %}
