{% extends "drb_base.html" %}
{% block introduction %}{% endblock introduction %}
{% block title %}{% endblock title %}

{% block  content_content %}

<div class="container">
    
    <div class="row">
        <div class="col-sm-12">
            <h2>The book of {{ book.name }}</h2>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-12">
            {% for chapter in book.chapter_set.all %}
                <p><a href="">{{ chapter }}</a></p>
            {% endfor %}
        </div>
    </div>
</div>

{% endblock content_content %}