[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
django-pure-pagination = "*"
markdown = "*"
djangorestframework = "*"
python-decouple = "*"
pylint = "*"
django-debug-toolbar = "*"
django-extensions = "*"
sorl-thumbnail = "*"
requests = "*"
django-addanother = "*"
pillow = "*"
python-social-auth = "*"
social-auth-app-django = "*"

[dev-packages]

[requires]
python_version = "3.6"
