{% extends "drb_base.html" %}
{% block title %}Reset password{% endblock title %}
{% block body %}

    <h1 class='text-center'><a href="/" title='Return to homepage' style='text-decoration: none'>Accessible Orthodoxy</a></h1>
        <hr>

    <div class="container login-form text-center">

    {% if form.errors %}
        <p class="text-danger">{{ form.errors }}</p>
    {% endif %}

    <h2>Reset password</h2>

    <p class='text-left'>Enter your registered email address to reset your password</p>

        <form method="post" action="">
            {% csrf_token %}
            <p>{{ form.email }}</p>
            <button class="btn btn-primary btn-sm float-right" type="submit" value="Reset Password">Reset Password</button>
        </form>

<script type="text/javascript" >
    // add attributes to form input elements
    $(document).ready(function(){
        $("#id_email").attr('class', 'form-control');
        $("#id_email").attr('placeholder', '{{ form.email.label }}');
    });
</script>

<script type="text/javascript" >
    // add attributes to form input elements
    $(document).ready(function(){
        $("#id_password1").attr('class', 'form-control');
        // $("#id_password1").attr('placeholder', '{{ form.password1.label }}');
        $("#id_password2").attr('class', 'form-control');
        // $("#id_password2").attr('placeholder', '{{ form.password2.label }}');
    });
</script>
{% endblock body %}
