
<div class="container">
    <a class="google-login" href="{% url 'social:begin' 'google-oauth2' %}?next=/" title="Login/Join with Google">
        <div class="row">
            <div class="col-sm-12 social-google">
                <div class="login-using-icon-div"><span class="login-using-icon"><i class="fab fa-google"></i></span></div>
                <div class="login-using-text-div"><span class="login-using-text">Login with Google</span></div>
            </div>
        </div>
    </a>

    <a class="twitter-login" href="{% url 'social:begin' 'twitter' %}?next=/" title="Login/Join with Twitter">
        <div class="row">
            <div class="col-sm-12 social-twitter">
                <i class="fab fa-twitter"></i>
            </div>
        </div>
    </a>
    <a class="facebook-login" href="{% url 'social:begin' 'facebook' %}?next=/" title="Login/Join with Facebook">
        <div class="row">
            <div class="col-sm-12 social-facebook">
                <i class="fab fa-facebook-f"></i>
            </div>
        </div>
    </a>
</div>