body {
  color: midnightblue;
  padding-top: 2.4rem;
}
nav {
  background: midnightblue;
}
.fixed-top {
  font-size: 15px;
  padding: 0;
  font-family: 'Inconsolata', monospace;
}

/* fix nav scrolling on small screens */
@media (min-width: 300px) {
  .navbar-collapse.navcontent.collapse.show {
      max-height: 540px !important;
      overflow-y: scroll !important;
      overflow-x: hidden !important;
  }
}
.fixed-top > a.navbar-brand {
  margin-left: 1.5rem;
  padding-top: 0;
  padding-bottom: 0;
}
.fixed-top > a.navbar-brand > h3 {
  margin-bottom: 0.2rem;
}
.fixed-top > .navcontent {
  padding-right: 2.5rem;
  padding-top: 0;
  padding-bottom: 0;
}
.fixed-top > .navcontent > ul > li > a:hover {
  background: #34348f;
}
.fixed-top sup.notification {
  color: red;
  font-size: 14px;
}
.navbar-nav a {
  color: #BCC6CC;
  font-size: 15px;
  font-weight: bold;
}
.navbar-nav .nav-link {
  padding-right: 0;
  padding-left: 0.65rem;
}
.navbar-nav .login-logout {
  padding-right: 0;
  padding-left: 0.675rem;
  margin-bottom: 0.2rem;
}
.my-toggler.navbar-toggler {
  border-color: rgb(250, 57, 57);
}
.my-toggler .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(250, 57, 57, 0.7)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}
ul.nav > li.social-management {
  padding: 0.35rem;
}
ul.righthand-navigation {
  padding: 0;
  margin-right: 8rem;
}
.logged-in-username {
  height: auto;
}
.logged-in-username > a {
  padding-bottom: 2rem;
  margin-top: 0.025rem;
}
.logged-in-username > a:hover {
  background: #34348f;
}
.avatar-image > img {
  height: 120px;
  width: 120px;
}
.profile-image > img {
  height: 25px;
  width: 25px;
}
.profile-image {
  float: left!important;
}
.profile-name {
  padding-left: 0.3rem;
  float: left!important;
}
.dropdown-menu > a.dropdown-item {
  color: midnightblue;
}
h1, h2, h3, h4, h5, h6 {
  color: midnightblue;
  font-family: 'Inconsolata', monospace;
}
a {
  color: #0062cc;
}
a:hover {
  text-decoration: none;
}
.jumbotron {
  margin-bottom: 0;
  background: #cacaca;
  border-radius: 0;
}
section.jumbotron {
  border-radius: 0;
}
section a {
  margin: 0.5rem 0 0.5rem 0.5rem;
}
label {
  font-weight: bold;
}
hr {
  border: 0;
  border-top: 1px solid midnightblue;
}

.content-block {
  background-color: #cdd0d7;
  max-width: 1000px;
  margin: auto;
  box-shadow: 1px 3px 7px 3px #c4c7ce inset;
  border-radius: 0.15rem;
  padding-bottom: 10px;
}
td, th {
  white-space: nowrap;
}
.object-delete-button {
  margin-bottom: 25rem;
}

.upload-forms {
  max-width: 450px;
  margin-top: 0.5rem;
  margin-bottom: 1.5rem;
  padding: 0 1rem 2.75rem;
  background: #f0eeee;
  border: 1px solid #d7d7d7;
  border-radius: 0.15rem;
}
a.upload-button {
  color: white;
  margin-right: 0.35rem;
  margin-top: 0.3rem;
}
.related-widget-wrapper-link {
  background: blanchedalmond;
}

.search-input-box {
  margin-top: 0.5rem;
}
.search-info-box {
  font-size: 14px;
}
.song-video {
  background: #f2f3fb;
  border: 1px solid rgba(0,0,0,.125);
  margin: 0.5rem 0;
  border-radius: 0.15rem;
}

.register-btn {
  width: 100%;
  font-size: 1.25rem;
  margin-bottom: 5rem;
}
.siteuser-index-heading {
  background: #f2f3fb;
  border: 0.6px solid midnightblue;
  margin: 0.5rem 0;
  border-radius: 0.15rem;
  padding-bottom: 0.5rem;
}
.siteuser-index-heading h3,
h5 {
  margin-top: 0.6rem;
  margin-left: 0.6rem;
}

.love-bird-detail > p.text-left, .siteuser-index-details > p.text-left {
  font-size: 14px;
  margin-top: 0.25rem;
  margin-bottom: 0;
}
.account-management-heading {
  background: #f2f3fb;
  border: 0.6px solid midnightblue;
  margin: 0.5rem 0;
  border-radius: 0.15rem;
}
.account-management-heading > .row > .col-sm-12 > span {
  margin-top: 0.5rem;
}
.administer-account {
  border-radius: 0.15rem;
}
.modal-backdrop {
  z-index: 1020;
}
.social-google {
  background: #8ac2ff;
  border-radius: 0.15rem;
  height: 2.5rem;
  margin-bottom: 0.5rem;
}
.social-google .login-using-icon-div {
  color: white;
  background: #3071d5;
  border-top-left-radius: 0.2rem;
  border-bottom-left-radius: 0.2rem;
  width: 20%;
}
.social-google .login-using-icon {
  font-size: 22px;
  display: block;
  width: 30%;
  margin: auto;
  padding-top: 0.25rem;
}
.social-google .login-using-text-div {
  color: white;
  font-family: 'Inconsolata', monospace;
  background: #468dfa;
  border-top-right-radius: 0.15rem;
  border-bottom-right-radius: 0.15rem;
  width: 80%;
}
.social-google .login-using-text {
  display: block;
}
.form-group {
  position: relative;
  color: #aaa;
}
input#id_username {
  text-indent: 30px;
  position: relative;
  box-shadow: 0 0 3px #ccc, 0 10px 15px #ebebeb inset;
}
input#id_password {
  text-indent: 30px;
  position: relative;
  box-shadow: 0 0 3px #ccc, 0 10px 15px #ebebeb inset;
}
.fa-user {
  position: absolute;
  top: 5px;
  left: 10px;
  font-size: 25px;
  color: rebeccapurple;
  border-right: 1px solid #ccc;
  padding-right: 5px;
}
.fa-unlock-alt {
  position: absolute;
  top: 5px;
  left: 10px;
  font-size: 25px;
  color: rebeccapurple;
  border-right: 1px solid #ccc;
  padding-right: 5px;
}
.social-logins {
  font-size: 22px;
  border-radius: 0.15rem;
  padding-top: 0.3rem;
  padding-bottom: 0.3rem;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  margin-bottom: 1rem;
}
.social-logins > a {
  color: white;
  border-radius: 50%;
  border: 1px solid #ccc;
  text-align: center;
  width: 40px;
  height: 40px;
  padding: 3px;
}
.social-logins > a.google-login {
  background: #dd4b39;
}
.social-logins > a.facebook-login {
  background: #3b5998;
}
.social-logins > a.yahoo-login {
  background: #7B0099;
}
.social-logins > a.twitter-login {
  background: #00aced;
}
.login-form {
  max-width: 350px;
  margin: auto;
  padding-bottom: 1rem;
}
.login-btn {
  width: 100%;
}
.forgot-password-btn {
  width: 45%;
  margin-left: 0.3rem;
}
.join-btn {
  width: 45%;
  margin-right: 0.3rem;
}
.btn-md-span {
  vertical-align: middle;
  font-size: 22px;
}
.password-reset-conditions {
  border: 1px solid midnightblue;
  text-align: left;
  color: red;
  border-radius: 0.15rem;
}
a.likes-button-style,
span.icon-buttons {
  float: left;
  padding: 3px 10px;
  font-size: 13px;
  font-weight: 600;
  line-height: 20px;
  vertical-align: middle;
  background-color: #fff;
  border: 1px solid rgba(27,31,35,0.2);
  border-radius: 3px;
  margin: 2px 1px;
}
a.likes-button-style,
button.likes-button-style {
  color: #007bff;
  text-decoration: none;
}
a.likes-button-style > span.like-count-embed {
  color: midnightblue;
  border-right: 0.6px solid midnightblue;
  padding-right: 0.5rem;
}
span.star-icon-button {
  float: left;
  padding: 3px 10px;
  font-size: 13px;
  font-weight: 600;
  line-height: 20px;
  vertical-align: middle;
  background-color: #fff;
  border: 1px solid rgba(27,31,35,0.2);
  border-radius: 3px;
  margin: 2px 1px;
}
span.star-icon-button:not(:disabled):not(.disabled) {
  cursor: pointer;
  color: #0062cc;
}

.fine-prints {
  padding: 30px 0;
  margin-top: 30rem;
}
.copyright {
  margin: 20px 0;
}

tbody tr:nth-child(even) {
  background-color: #e3e3e3;
}
tbody tr:nth-child(odd) {
  background-color: #efefef;
}
.table td {
  padding: 0.2rem 0.5rem;
  border-top: 0;
}
.table th {
  padding: 0 0.5rem;
  border-bottom: 1px solid;
  color: #fff;
  background-color: #212529;
  border-color: #32383e;
}
.table {
  margin-bottom: 0;
}
.table tbody+tbody {
  border: none;
}
.pagination {
  text-align: center;
  font-weight: 600;
  display: block;
  padding: 1rem;
  margin: 0.75rem 0;
  background: #e9ecef;
  border-radius: 0.15rem;
  border: 0.6px solid;
}
a.icon-buttons, button.icon-buttons, span.icon-buttons {
  float: left;
  padding: 3px 10px;
  font-size: 13px;
  font-weight: 600;
  line-height: 20px;
  vertical-align: middle;
  background-color: #fff;
  border: 1px solid rgba(27,31,35,0.2);
  border-radius: 3px;
  margin: 2px 1px;
}
a.icon-buttons {
  color: #007bff;
  text-decoration: none;
}
span.icon-buttons:not(:disabled):not(.disabled) {
  cursor: default;
  color: midnightblue;
}
a.icon-buttons > span.like-count-embed {
  color: midnightblue;
  border-right: 0.6px solid midnightblue;
  padding-right: 0.5rem;
}
ul.messages {
  color: green;
  text-align: left;
  list-style-type: none;
  margin: 0;
  padding: 0;
}
ul.errorlist {
  color: red;
  text-align: left;
  list-style-type: none;
  font-weight: bold;
  margin: 0;
  padding: 0;
}
.form-control {
  background: #fcfcfc;
  border: 1px solid #aaa;
  border-radius: 0.15rem;
  box-shadow: 0 0 3px #ccc, 0 10px 15px #ebebeb inset;
}