.book-listing {
  padding: 0;
}

.book-names {
  padding:0;
  color:blanchedalmond;
}

.chapter-display-name {
  color:#830065;
  background: #BCC6CC;
  padding: 0 .5rem;
  margin-bottom: .2rem;
  /* border: 1px solid black; */
  border-radius: .3rem;
}

.chapter-body {
  padding: .15rem .25rem;
}

.book-name-buttons {
  background:#F5D2D5;
  margin-top:.25rem;
  color:#830065; 
  font-weight:bold;
  border:.5px solid #830065;
  font-family:serif;font-size:16px;
  width:100%;
  white-space: normal;
  word-break: break-all;
}

.chapter-number-paragraph {
  margin-top:.5rem;
  margin-bottom:0;
}

.chapter-buttons {
  border:1px solid black;
  margin-left:.75rem;
  width:90%;
  white-space: normal;
  word-break: break-all;
}

p.show-verse-text {
  border: 1px solid rgba(0,0,0,.125);
  padding: .25rem;
  border-radius: 0.5rem;
  background: #ffe6ea;
}
