{% extends "ethodoxy_base.html" %}
{% block title %}About {{ group.name }}{% endblock title %}
{% block introduction %}{% endblock introduction %}

{% block content_content %}

<div class='container account-management-heading'>
    <div class='row'>
        <div class='col-sm-12'>
            <span class='h5 float-left'>
                {{ group.name }}
            </span>
        </div>
    </div>

</div>
<div class="container">
    {{ group.about_group }}

    <h4>Members</h4>
    <hr>
    {% for member in group.members.all %}
        <a href="">{{ member.screen_name }}</a>
    {% endfor %}
    </div>

    <p>{{ group.members.groupmembership.all }}</p>

</div>

{% endblock content_content %}

