{% extends "catholic_base.html" %}
{% block title %}{{ siteuser.screen_name }}'s library{% endblock title %}
{% block introduction %}{% endblock introduction %}
{% load author_ttags %}

{% block content_content %}

<div class='container siteuser-index-heading'>
    <div class='row'>
        <h3 class='float-left'>{% if user == siteuser.user %}My{% else %}{{ siteuser.screen_name }}'s {% endif %} library</h3>
    </div>
</div>

{% include 'siteuser/account_user_details.html' %}

<div class="library-tabs">
    <ul class="nav nav-tabs">
        <li class="nav-item"><a class="nav-link" href="#songs" aria-controls="songs" role="tab" data-toggle="tab">Songs</a></li>
        <li class="nav-item"><a class="nav-link" href="#posts" aria-controls="posts" role="tab" data-toggle="tab">Blog posts</a></li>
        <li class="nav-item"><a class="nav-link" href="#requests" aria-controls="requests" role="tab" data-toggle="tab">Request</a></li>
        <li class="nav-item"><a class="nav-link" href="#authors" aria-controls="authors" role="tab" data-toggle="tab">Authors</a></li>
        <li class="nav-item"><a class="nav-link" href="#scores" aria-controls="scores" role="tab" data-toggle="tab">Scores</a></li>
        <li class="nav-item"><a class="nav-link" href="#midis" aria-controls="midis" role="tab" data-toggle="tab">Midi</a></li>
        <li class="nav-item"><a class="nav-link" href="#videos" aria-controls="videos" role="tab" data-toggle="tab">Videos</a></li>
    </ul>
</div>

<hr>
<!-- Tab panes -->
<div class="tab-content">
    <div role="tabpanel" class="tab-pane active" id="songs">
        <div class="table-responsive">
            <table class="table">
                <thead class="thead-dark">
                    <caption>Songs</caption>
                    <tr>
                        <th>S/No.</th>
                        <th>Status</th>
                        <th>Title</th>
                        <th>Likes</th>
                        <th>Date</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                {% for song in user_songs %}
                    <tr>
                        <td>{{ forloop.counter }}</td>
                        <td>{% if song.publish %}Public{% else %}<span class="text-danger">Private</span>{% endif %}</td>
                        <td><a href="{% url 'song:detail' song.pk song.slug %}">{{ song.title|title }}</a></td>
                        <td>{{ song.like_count }}</td>
                        <td>{{ song.created|date }}</td>
                        <td>
                            {% if is_library_owner == True %}
                                <a href="{% url 'song:edit' song.pk song.slug %}" title='Edit'><i class="fas fa-edit"></i></a> |
                                <a href="{% url 'song:delete' song.pk %}" title='Delete {{ song.title|title }}'><i class="fas fa-trash"></i></a> |
                                {% if song.publish %}
                                    <a title="Unpublish this song" href="{% url 'song:publish_song_shortcut' song.pk %}"><i class="fas fa-check"></i></a>
                                {% else %}
                                    <a title="publish this song" href="{% url 'song:publish_song_shortcut' song.pk %}"><i class="fas fa-check text-danger"></i></a>
                                {% endif %}
                            {% endif %}
                        </td>
                    </tr>
                {% empty %}
                    <p>No song to display</p>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
    <div role="tabpanel" class="tab-pane" id="posts">
        <div class="table-responsive">
            <table class="table">
                <thead class="thead-dark">
                    <caption>Blog posts</caption>
                    <tr>
                        <th>S/No.</th>
                        <th>Status</th>
                        <th>Title</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                {% for post in user_posts %}
                    <tr>
                        <td>{{ forloop.counter }}</td>
                        <td>{% if post.publish %}Public{% else %}<span class="text-danger">Private</span>{% endif %}</td>
                        <td><a href="{% url 'blog:detail' post.pk post.slug %}">{{ post.title|title }}</a></td>
                        <td>
                            {% if is_library_owner is True %}
                                <a href="{% url 'blog:edit' post.pk %}"><i class="fas fa-edit"></i></a> |
                                <a href="#"><i class="fas fa-trash"></i></a>
                            {% endif %}
                        </td>
                    </tr>
                {% empty %}
                    <p>No posts to display</p>
                {% endfor %}
                </tbody>
            </table>
    </div>
    </div>
    <div role="tabpanel" class="tab-pane" id="requests">
        <div class="table-responsive">
            <table class="table">
                <thead class="thead-dark">
                    <caption>My requests</caption>
                    <tr>
                        <th>S/No.</th>
                        <th>Title</th>
                        <th>Status</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                {% for request in user_requests %}
                    <tr>
                        <td>{{ forloop.counter }}</td>
                        {% if request.status == True %}
                            <td><a href="{% url 'request:detail' request.pk %}">{{ request }}</a></td>
                            <td>{{ request.status }}</td>
                        {% else %}
                            <td><a "text-danger" href="{% url 'request:detail' request.pk %}">{{ request }}</a></td>
                            <td class="text-danger">{{ request.status }}</td>
                        {% endif %}
                        <td>
                            {% if is_library_owner == True %}
                            <a href="{% url 'request:edit' request.pk %}"><i class="fas fa-edit"></i></a>
                            {% endif %}
                        </td>
                    </tr>
                {% empty %}
                    <p>No request to display</p>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
    <div role="tabpanel" class="tab-pane" id="authors">
        <div class="table-responsive">
            <table class="table">
                <thead class="thead-dark">
                    <caption>My authors</caption>
                    <tr>
                        <th>S/No.</th>
                        <th>Name</th>
                        <th>Type</th>
                        <th>Pub. songs</th>
                        <th>Action</th>
                    </tr>
                </thead>
                    <tbody>
                    {% for author in user_authors %}
                        <tr>
                            <td>{{ forloop.counter }}</td>
                            <td><a href="{% url 'author:detail' author.pk author.slug %}">{{ author }}</a></td>
                            <td>{{ author.author_type|title }}</td>
                            <td>
                                {% with auth=author.song_set.all %}
                                    {{ auth|count_published }}
                                {% endwith %}
                            </td>
                            <td>
                                {% if is_library_owner == True %}
                                    <a href="{% url 'author:edit' author.pk author.slug %}"><i class="fas fa-edit"></i></a> |
                                    <a href="{% url 'author:delete' author.pk %}"><i class="fas fa-trash"></i></a>
                                {% endif %}
                            </td>
                        </tr>
                    {% empty %}
                        <p>No author to display</p>
                    {% endfor %}
                    </tbody>
            </table>
        </div>
    </div>

    <div role="tabpanel" class="tab-pane" id="scores">
        <div class="table-responsive">
            <table class="table table-striped">
                <thead class="thead-light">
                    <caption>scores</caption>
                </thead>
                <tr>
                    <th>S/No.</th>
                    <th>Song</th>
                    <th>Song owner</th>
                    <th>Score owner</th>
                    <th>Likes</th>
                    <th>Part</th>
                    <th>Notation</th>
                    <th>Size</th>
                    <th><i class="fas fa-download"></i></th>
                    <th>Date</th>
                    <th>Action</th>
                </tr>

                {% if scores %}
                <tbody>
                {% for score in scores %}
                    <tr>
                        <td>{{ forloop.counter }}</td>
                        <td><a href="{% url 'song:detail' score.song.pk score.song.slug %}">{{ score.song.title|title }}</a></td>
                        <td>{{ score.song.creator }}</td>
                        <td>{{ score.creator }}</td>
                        <td>{{ score.like_count }}</td>
                        <td>{{ score.part }}</td>
                        <td>{{ score.notation }}</td>
                        <td>{{ score.fsize|filesizeformat }}</td>
                        <td>{{ score.downloads }}</td>
                        <td>{{ score.created|date }}</td>
                        <td>
                            {% if is_library_owner == True %}
                                <a href=""><i class="fas fa-edit"></i></a> |
                                <a href="{% url 'song-media:delete_score' score.pk %}"><i class="fas fa-trash"></i></a>
                            {% endif %}
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
                {% else %}
                    <p>No scores found</p>
                {% endif %}
            </table>
        </div>
    </div>

    <div role="tabpanel" class="tab-pane" id="midis">
        <div class="table-responsive">
            <table class="table table-striped">
                <thead class="thead-light">
                    <caption>midis</caption>
                </thead>
                <tr>
                    <th>S/No.</th>
                    <th>Song</th>
                    <th>Song owner</th>
                    <th>Midi owner</th>
                    <th>Likes</th>
                    <th>Part</th>
                    <th>Format</th>
                    <th>Size</th>
                    <th><i class="fas fa-download"></i></th>
                    <th>Date</th>
                    <th>Action</th>
                </tr>

                {% if midis %}
                <tbody>
                    {% for midi in midis %}
                        <tr>
                            <td>{{ forloop.counter }}</td>
                            <td><a href="{% url 'song:detail' midi.song.pk midi.song.slug %}">{{ midi.song.title|title }}</a></td>
                            <td>{{ midi.song.creator }}</td>
                            <td>{{ midi.creator }}</td>
                            <td>{{ midi.like_count }}</td>
                            <td>{{ midi.part }}</td>
                            <td>{{ midi.fformat }}</td>
                            <td>{{ midi.fsize|filesizeformat }}</td>
                            <td>{{ midi.downloads }}</td>
                            <td>{{ midi.created|date }}</td>
                            <td>
                                {% if is_library_owner == True %}
                                    <a href=""><i class="fas fa-edit"></i></a> |
                                    <a href="{% url 'song-media:delete_midi' midi.pk %}"><i class="fas fa-trash"></i></a>
                                {% endif %}
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
                {% else %}
                    <p>No midis found</p>
                {% endif %}
            </table>
        </div>
    </div>

    <div role="tabpanel" class="tab-pane" id="videos">
        <div class="table-responsive">
            <table class="table table-striped">
                <thead class="thead-light">
                    <caption>Videos</caption>
                </thead>
                <tr>
                    <th>S/No.</th>
                    <th>Song</th>
                    <th>Song owner</th>
                    <th>Link creator</th>
                    <th>Play url</th>
                </tr>

                {% if user_videos %}
                <tbody>
                {% for video in user_videos %}
                    <tr>
                        <td>{{ forloop.counter }}</td>
                        <td><a href="{% url 'song:detail' video.song.pk video.song.slug %}">{{ video.song.title|title }}</a></td>
                        <td>{{ video.song.creator }}</td>
                        <td>{{ video.creator }}</td>
                        <td><a href="{{ video.channel_link }}" target="_blank"><i class="fas fa-play"></i></a></td>
                    </tr>
                {% endfor %}
                </tbody>
                {% else %}
                    <p>No video links found</p>
                {% endif %}
            </table>
        </div>
    </div>
</div>

{% endblock content_content %}

