{% extends "ethodoxy_base.html" %}
{% block title %}Message exchange with {{ partner }}{% endblock title %}
{% block introduction %}{% endblock introduction %}
{% load song_ttags %}
{% block content_content %}

<div class='container siteuser-index-heading'>
    <div class='row'>
        <h3 class='float-left'>Message exchange with {{ partner }}</h3>
    </div>
</div>

{% for message in message_list %}
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <p class="text-secondary">{{ message.created|date }}</p>
                {% if message.creator == partner %}<p class="text-danger">{{ message.body|markdown_format }}</p>{% else %}<p class="text-primary">{{ message.body|markdown_format }}</p>{% endif %}
                
            </div>
        </div>
    </div>
    <hr>
{% endfor %}
{% endblock content_content %}
