{% extends "catholic_base.html" %}
{% block title %}Message view{% endblock title %}
{% block introduction %}{% endblock introduction %}
{% load song_ttags %}
{% block content_content %}

<div class='container siteuser-index-heading'>
    <div class='row'>
        <h3 class='float-left'>Message {% if message.creator == request.user.siteuser %}to {{ message.receiver }}
            {% else %}from {{ message.creator }}{% endif %}</h3>
    </div>
</div>

{% if not message.creator == request.user.siteuser %}
<div class="container">
    <div class="row">
        <div class="col-sm-12">
                <p><a href="mailto:{{ msessage.creator.user.email }}">{{ message.creator.user.email }}</a></p>
        </div>
    </div>
</div>
{% endif %}

<div class="container">
    <div class="row">
        <div class="col-sm-12">
            {{ message.body|markdown_format }}
        </div>
    </div>
</div>

{% endblock content_content %}
