<!DOCTYPE html>
<html>
    <head>
        <title>Ethodoxy &raquo; How to share music</title>

        <style>
            p {color:midnightblue;}
            a { color: #2617eb}
            a:hover {text-decoration: underline; color: #007bff;}
        </style>
    </head>

    <body>
        <h2><a href="http://accessibleorthodoxy.pythonanywhere.com/">Ethodoxy</a> | Welcome {{ screen_name }}</h2>

        <p>Hey {{ screen_name }}! We're so excited to have you on our site.</p>
        
        <p>To activate your account and start sharing, please follow the link below<br>
        
        {{ activation_link }}</p>
    </body>
</html>
