<!DOCTYPE html>
<html>
    <head>
        <title>ChoralCentral &raquo; How to share music</title>

        <style>
            p {color:midnightblue;}
            a { color: #2617eb}
            a:hover {text-decoration: underline; color: #007bff;}
        </style>
    </head>

    <body>
        <h2><a href="http://accessibleorthodoxy.pythonanywhere.com/">ChoralCentral</a> | Welcome {{ screen_name }}</h2>

        <p>Hey {{ screen_name }}! We're so excited to have you on our site.</p>
        
        <p>Your email has been registered with <a href="http://accessibleorthodoxy.pythonanywhere.com/">Accessible Orthodoxy</a>. Please head on over and start sharing<br>
        
        {{ activation_link }}</p>
    </body>
</html>
