{% block footer_middle %}    
<div class="feeds text-center">
    <div class="container">
        <div class="row">
            <div class="col-sm-6">
                <h5>Resources</h5>
                <p>
                    <a aria-hidden="true" href="{% url 'douay-rheims:index' %}">DRB</a> &#124;
                    <a aria-hidden="true" href="">Commentaries</a>
                </p>
            </div>
    
            <div class="col-sm-6">
                <h5>Feeds</h5>
                <p>
                    <a aria-hidden="true" href="">Midi</a> &#124;
                    <a aria-hidden="true" href="">Blog</a>
                </p>
            </div>
        </div>
    </div>
</div>
{% endblock footer_middle %}
