{% block footer_bottom %}
<div class="fine-prints text-center">
    <div class="container">
            <p><a href="/home/"><i class="fa fa-home" title="Home"></i> Home</a>
                &#124;
                <a href="" title="Sitemap"><i class="fas fa-sitemap"></i> Sitemap</a>
                &#124;
                <a href="" title="Terms of use">Terms</a>
                &#124;
                <a href="" title="Privacy policy">Privacy</a>
                &#124;
                <a href="" title="Contact owner/developer">Contact</a>
                &#124;
                <a href="" title="Data api">API</a>
                &#124;
                <a target="_blank" href="http://parousia.pythonanywhere.com/" title="Contact the developer">The developer</a>
            </p>
            <p class="copyright">&#169; Copyright 2018 accessible orthodoxy <a href="#"><i class='fas fa-arrow-up'></i></a></p>
    </div>
</div>
{% endblock footer_bottom %}
