{% block footer_bottom %}
<div class="fine-prints text-center">
    <div class="container">
            <p><a href="/home/"><i class="fa fa-home" title="Home"></i> Home</a>
                &#124;
                <a href="/sitemap.xml" title="Sitemap"><i class="fas fa-sitemap"></i> Sitemap</a>
                &#124;
                <a href="/terms-of-use/" title="Terms of use">Terms</a>
                &#124;
                <a href="/privacy-policy/" title="Privacy policy">Privacy</a>
                &#124;
                <a href="/contact/" title="Contact owner/developer">Contact</a>
                &#124;
                <a href="/help-page/" title="FAQ and Help">FAQ and Help</a>
                {% if user.is_admin %}
                    &#124;
                    <a href="/api/" title="Data api">API</a>
                {% else %}
                    &#124;
                    <a href="/coming-soon/" title="Data api">API</a>
                {% endif %}
                {% if user.is_admin %}
                    &#124;
                    <a target="_blank" href="https://immensity.github.io/" title="Contact the developer">Contact blog</a>
                {% endif %}
            </p>
            <p class="copyright">&#169; Copyright 2018 choralcentral.net <a href="#"><i class='fas fa-arrow-up'></i></a></p>
    </div>
</div>
{% endblock footer_bottom %}
