{% block footer_top %}
<div class="large-print text-left d-none d-sm-block">
    <div class="container">
        <div class="row">
            <div class="col-md-3 col-sm-6 large-print-item">
                <h3>Find music</h3>
                <p><span class="h5 text-primary">Instant search</span><br>
                    Find the song you're looking for in an instant.</p>
                <p><a class="btn btn-primary" href="">Search</a></p>
            </div>
            
            <div class="col-md-3 col-sm-6 large-print-item">
                <h3>Contribute</h3>
                <p><span class="h5 text-primary">We appreciate you.</span><br>
                    A big thanks to all our members for their contribution.
                </p>
                <p><a class="btn btn-primary" href="">Upload</a></p>
            </div>
            
            <div class="col-md-3 col-sm-6 large-print-item">
                <h3>Blog</h3>
                <p><span class="h5 text-primary">Share your thoughts</span><br>
                    Discuss your favourite song or musical topic.
                </p>
                <p><a class="btn btn-primary" href="">Blog</a></p>
            </div>
        
            <div class="col-md-3 col-sm-6 large-print-item">
                <h3>Request</h3>
                <p><span class="h5 text-primary">Trust the community.</span><br>
                    Request for songs and get notified when someone responds.</p>
                <p><a class="btn btn-primary" href="">Request</a></p>
            </div>
        </div>
    </div>
</div>
{% endblock footer_top %}
