<footer>
    <div class="large-print text-left">
        <div class="container">
            <div class="row">

                <div class="col-md-3 col-sm-6 large-print-item">
                    <h3>Contribute</h3>
                    <p><span class="h5">We appreciate you.</span><br>
                        A big thanks to every one of our awesome
                        members who take their time to upload great music.
                    </p>
                    <p><a class="btn btn-primary" href="">Read</a></p>
                </div>
            </div>
        </div>
    </div>

    <div class="fine-prints text-center">
        <div class="container">
                <p><a href="/"><i class="fa fa-home"></i>Home</a>
                    &#124;
                    <a href="">Terms</a>
                    &#124;
                    <a target="_blank" href="https://immensity.github.io/">Contact</a>
                    &#124;
                    <a href="">Disclaimer</a>
                </p>
                <p class="copyright">&#169; Copyright 2018 drb <a href="#"><i class='fas fa-arrow-up'></i></a></p>
        </div>
    </div>
</footer>